

:host *{
    transition: all 0.5s ease-in-out;
}

.sidenav-header{
    padding-top: 24px;
    text-align: center;
    overflow: hidden;
    > img{
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }
}

.header-text{
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s, height 0.3s, width 0.3s;
    > h2 {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    > p {
        margin: 0;
        font-size: 0.8rem;
    }
}

/* Esconde el texto de la imagen */
.hide-header-text{
    right: 5%;
    opacity: 0;
    height: 0px !important;
    width: 0px;
    overflow: hidden;
}



.icon{
    margin: 0 35px 0 5px;
    color: rgb(130, 130, 130);
    position: relative;
    top: 5px;
}

.title{
    font-size: 0.9rem;
    margin: 0;
    padding: 5px;
    color: rgb(130, 130, 130);
}

.active{
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 7px solid var(--sidenav-color);
}

.active .title{
    color: var(--sidenav-color);
}

.active .icon{
    color: var(--sidenav-color);
}

